# Isolated SA05 environment. No prior lock is modified.
bokeh==3.9.0
bsk==2.12.0
certifi==2026.7.22
charset-normalizer==3.5.1
colorama==0.4.6
contourpy==1.4.0
cycler==0.12.1
fonttools==4.66.0
idna==3.20
iniconfig==2.3.0
jinja2==3.1.6
kiwisolver==1.5.1
markupsafe==3.0.3
matplotlib==3.10.9
narwhals==2.26.0
numpy==2.4.6
packaging==26.3
pandas==3.0.3
pillow==12.2.0
platformdirs==4.12.0
pluggy==1.6.0
pooch==1.9.0
protobuf==7.35.0
pygments==2.21.0
pyparsing==3.3.3
pytest==9.1.1
python-dateutil==2.9.0.post0
pyyaml==6.0.3
requests==2.34.2
ruff==0.16.5
scipy==1.18.1
sgp4==2.25
six==1.17.0
tornado==6.5.10
tqdm==4.67.3
urllib3==2.8.0
xyzservices==2026.9.1
